<div class="container">
  <h1 class="text-center">The OG 151 Pokemon</h1>
  <p class="text-center">
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary #e65100 orange darken-4" type="submit">Catch 'em!</button>
      </form>
    </div>
  <% }); %>
</div>
